/codes/Settings.ipynb
/codes/code_9_HAN.ipynb
/codes/code_9_HAN_improved.ipynb
/codes/code_9_HAN_new.ipynb
/codes/deprecated_code_2_TCNN.ipynb
/data/*.csv
/raw_data/*.csv
/data/*.zip
/raw_data/*.zip
Settings.ipynb
/models_toxic/*BERT*
/cv_models_toxic/*BERT*
models_toxic/*BERT*
cv_models_toxic/*BERT*

/models_twitter/*BERT*
/cv_models_twitter/*BERT*
models_twitter/*BERT*
cv_models_twitter/*BERT*

/models_facebook/*BERT*
/cv_models_facebook/*BERT*
models_facebook/*BERT*
cv_models_facebook/*BERT*